@media (min-width: 320px) and (max-width: 767px) {
  .shap-home {
    display: none;
  }

  .home-page-left {
    display: none;
  }

  .home-page-right-main {
    width: 100%;
  }


  .hero-title {
    font-size: 29px;
    line-height: 39px;
    margin: 18px 0px 13px;
    padding-left: 0;
  }

  .hero-title:before {
    display: none;
  }


  .skills-track {
    animation: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 325px;
  }

  .skills-slider {
    overflow: auto;
    height: 100vh;
  }

  .skill-item {
    min-width: 48%;
    width: 48%;
  }

  .resume-content.active {
    padding-bottom: 325px;
  }

  .resume-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .resume-card h4 {
    font-size: 18px;
  }

  .resume-card p {
    font-size: 14px;
  }

  .resume-card {
    padding: 15px;
  }

  .resume-date {
    padding: 4px 10px;
    font-size: 12px;
  }

  .resume-tab {
    padding: 8px 28px;
    font-size: 12px;
  }

  .resume-heading p {
    font-size: 14px;
  }

  .skill-item h3 {
    font-size: 16px;
  }

  .skill-item img {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
  }

  .contact-heading p {
    font-size: 15px;
  }

  .contact-content h2 {
    font-size: 24px;
    margin-bottom: 7px;
  }

  .contact-content span {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .contact-content p {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .contact-content a {
    font-size: 15px;
  }

  .form-group input,
  .form-group textarea {

    padding: 12px 14px;
    border-radius: 8px;
    font-size: 14px;
  }

  .contact-right .form-group textarea {
    height: 100px;
  }

  .contact-right button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
  }

  .home-page-right p {
    margin: 11px 0 20px;
    font-size: 14px;
    line-height: 28px;
    width: 100%;
  }

  .home-page .button-icon {
    width: 44px;
    height: 44px;
    font-size: 15px;
  }


  .home-page .button {
    padding: 12px 50px 12px 25px;
    font-size: 14px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .resume-content.active {
    display: block;
    height: 100vh;
    overflow: auto;
    padding-bottom: 385px;
  }

  .resume-card {
    margin-bottom: 30px;
    width: 100%;
    float: left;
  }

  .resume-tab {
    padding: 10px 30px;
    font-size: 15px;
  }

  .resume-card:last-child {
    margin-left: 0;
    width: 100%;
  }

  .hero-title {
    font-size: 36px;
  }

  .home-page-right p {
    width: 100%;
  }

  .home-page-left img {
    border-radius: 10px;
  }
}

@media (max-width: 991px) {
  .home-page #inputmobile .trigger-mobile {
    right: 25px;
    top: 25px;
    padding: 17px 0 0 13px;
    width: 49px;
    height: 49px;
    display: inline-block;
    position: fixed;
    border-radius: 5px;
    background: #252525;
  }

  .home-page #inputmobile .trigger-mobile {
    right: 25px;
    top: 25px;
    padding: 17px 0 0 13px;
  }

  #inputmobile .trigger-mobile {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 11;
    user-select: none;
    padding: 19px 0 0 16px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    background: #252525;
  }

  #inputmobile .trigger-mobile span:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  #inputmobile .trigger-mobile {
    width: 49px;
    height: 49px;
    right: 10px;
    top: 4px;
    padding: 19px 0 0 13px;
  }


  #inputmobile ul.hide-list {
    transform: none;
  }

  #mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    padding-top: 60px;
    background-color: #252525;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  .mobile-nav-element {
    font-size: 18px;
    text-transform: uppercase;
  }

  .mobile-nav-element.active {
    color: #ffb400;
  }

  #mobile-nav li {
    padding-left: 25px;
    position: relative;
  }

  .mobile-nav-element.active {
    color: #ffb400;
  }

  #inputmobile .trigger-mobile span {
    display: flex;
    width: 23px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
  }

  #inputmobile .trigger-mobile span:first-child {
    transform-origin: 0 0;
  }

  .mobile-nav-element>div {
    padding: 14px 0;
    position: relative;
  }

  #mobile-nav li:after {
    width: calc(100% - 50px);
    left: 25px;
  }

  #mobile-nav li:after {
    position: absolute;
    content: '';
    height: 1px;
    width: calc(100% - 60px);
    background: #333;
    left: 30px;
  }

  .mobile-nav-element.active {
    color: #ffb400;
  }

  .mobile-nav-element {
    font-size: 18px;
  }

  .mobile-nav-element.active>div span {
    font-weight: 500;
  }

  .mobile-nav-element>div span {
    left: 35px;
  }

  .mobile-nav-element>div span {
    position: absolute;
    left: 50px;
    font-weight: 400;
  }

  .mobile-nav-element {
    font-size: 18px;
  }

  .mobile-nav-element {
    font-size: 18px;
  }

  #inputmobile .trigger-mobile.show-menu span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, -2px);
    background: #fff;
  }

  #inputmobile .trigger-mobile.show-menu span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }



  #inputmobile .trigger-mobile.show-menu span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, -2px);
    background: #fff;
  }



  #mobile-nav {
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding-top: 80px;

    background: #252525;

    list-style: none;

    z-index: 999999;

    transform: translateX(-100%);

    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    opacity: 0;
    visibility: hidden;
  }



  /* OPEN MENU */

  #mobile-nav.hide-list {

    transform: translateX(0);

    opacity: 1;
    visibility: visible;

  }

  .page-transition {
    left: -230%;
  }



}